/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lora:ital@1&family=Poppins:wght@500&display=swap');

/* custom properties */
:root {
    --primary-color: #130840;
    --button-background-color: #DD0000;
}


/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1320px;
    margin: 50px auto 130px;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 80px;
}

.link-button {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: black;
    background-color: white;
    padding: 17px 25px;
    border-radius: 10px;
}

.marked-button,
.colored-button {
    background-color: var(--button-background-color);
    color: white;
}

/* top banner */
.top-banner {
    display: flex;
    align-items: center;
    padding: 0 79px 0 106px;
    border-radius: 30px;
    background-color: var(--primary-color);
}

.top-banner a {
    transition: transform 0.5s ease-in;
}

.top-banner:hover a {
    transform: scale(1.25) translateX(22px);

}

.top-banner-description {
    color: white;
    width: 50%;
    padding: 10px 0;
}

.top-banner-description a i {
    margin-left: 10px;
}

.top-banner-description p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;

}

.top-banner-thumbnail {
    width: 50%;
    padding: 33px 0 0 24px;
}

.top-banner-thumbnail img {
    display: block;
    width: 100%;
}

/* sidebar and blogs */
.sidebar-blogs-container {
    display: flex;
}

/* sidebar */
.sidebar {
    min-width: 312px;
    height: 312px;
    padding: 30px;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-right: 24px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
}

/* blogs */
#blogs_con {
    flex-grow: 1;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 24px;
}

.blog {
    border: 1px solid #E8E8E8;

    border-radius: 10px;
}

.blog-thumbnail img {
    width: 100%;
    display: block;
}

.blog-info {
    padding: 20px;
}

.transfer-button {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: 500;
}


.blog-title {
    margin: 15px 0 20px;
    font-size: 18px;
    font-weight: 600;
}

.blog-icon {
    display: flex;
}

.time-icon,
.chat-icon {
    display: flex;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #161616B2;
}

.view-all {
    display: none;
    margin: 50px auto;
}

/* Upcoming Matches */
#matches-con {
    flex-grow: 1;
}

.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px 24px;
}

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 53px 0;
}

.match-teams {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* .match-teams .team {
    width: 30%;
} */

.team img {
    width: 100%;
}

/* .match-teams .vs {
    width: 20px;
    font-size: 16px;
} */

.match-info {
    text-align: center;
}

.match-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 10px;
}

.match-info p {
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
}

/* footer */
.footer-container {
    width: 100%;
    padding: 130px 0;
    background-color: var(--primary-color);
    color: white;
}

.footer-title {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.footer-container hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px auto;
    max-width: 1320px;
}

.footer-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.footer-container ul li {
    list-style: none;
}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
    line-height: 50px;
    color: white;
}

.social-icons h4{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
}
.social-icons ul li a {
    text-decoration: none;
    font-size: 26px;
    font-weight: 400;
    margin: 0 10px;
    line-height: 50px;
    color: white;
}


/* Media Queries */
/* Mobile Devices */
@media screen and (max-width: 767px) {

    /* common styles */
    .container {
        max-width: 334px;
        margin: 44px auto 24px;
    }

    h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .link-button {
        padding: 8px 12px;
    }

    /* top banner */
    .top-banner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 28px 38px 0;
        text-align: center;
    }

    .top-banner a {
        transition: transform 0.5s ease-in;
    }

    .top-banner:hover a {
        transform: scale(1.25);
    }

    .top-banner-description {
        color: white;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    .top-banner-description h1 {
        padding: 0 15px;

    }

    .top-banner-description p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 16px;

    }

    .top-banner-thumbnail {
        width: 100%;
        padding-top: 0;
    }

    .top-banner-thumbnail img {
        display: block;
        width: 100%;
    }

    /* sidebar and blogs */
    .sidebar-blogs-container {
        flex-direction: column;
    }

    /* sidebar */
    .sidebar {
        min-width: 210px;
        height: auto;
        background-color: white;
        margin: 0;
        padding-top: 0;
        padding-bottom: 16px;
    }



    .sidebar ul li a {
        margin-bottom: 16px;
        border: 1px solid #E8E8E8;
    }

    .sidebar ul li a.marked-button {
        border: none;
    }


    /* blogs */


    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    /*Matches*/
    .matches {
        grid-template-columns: repeat(1, 1fr);
    }


    /* footer */
    .footer-container {
        padding: 24px 0 7px;
    }

    .footer-title {
        font-size: 22px;

    }

    .footer-container hr {
        max-width: 334px;
        margin: 24px auto;
    }

    .footer-menu ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-menu ul li a {
        font-size: 14px;
        font-weight: 400;
        margin: 10px 0px;
    }
}




/* Tablet Devices */
@media screen and (min-width: 768px) and (max-width: 991px) {

    /* common styles */


    .container {
        max-width: 734px;
        margin: 50px auto 70px;
    }

    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .link-button {
        padding: 12px;
    }




    /* top banner */
    .top-banner {

        padding: 0 17px 0 76px;

    }




    .top-banner-description p {
        font-size: 14px;
        margin-bottom: 20px;

    }

    .top-banner-thumbnail {
        padding-top: 58px;
        padding-left: 2px;
    }



    /* sidebar and blogs */
    .sidebar-blogs-container {
        flex-direction: column;
    }

    /* sidebar */
    .sidebar {
        min-width: auto;
        height: auto;
        padding: 0;
        margin-right: 0;
        background-color: white;
    }

    .sidebar ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .sidebar ul li {
        width: 230px;
    }

    .sidebar ul li a {
        border: 1px solid #E8E8E8;
    }

    .sidebar ul li a.marked-button {
        border: none;
    }



    /* blogs */


    .blogs {

        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    }

    .view-all {
        display: block;
    }

    .view-all a {
        padding: 12px 29px;
    }

    /*Matches*/
    .matches {
        grid-template-columns: repeat(2, 1fr);
    }

    /* footer */
    .footer-container {
        padding: 70px 0;
    }


    .footer-container hr {
        margin: 30px auto;
        max-width: 734px;
    }

    .footer-menu {
        max-width: 734px;
        margin: 0 auto;

    }

}

/*Large devices (desktops)*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    h1 {
        font-size: 55px;
        line-height: 50px;
    }

    .footer-container hr {
        max-width: 960px;
    }

}

/*X-Large devices (large desktops)*/
@media screen and (min-width: 1200px) and (max-width: 1399px) {
    .container {
        max-width: 1160px;
    }

    h1 {
        font-size: 70px;
        line-height: 70px;
    }

    .footer-container hr {
        max-width: 1160px;
    }

}